html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Sayfada kaydırmayı engellemek için */
}

#myLove {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(
    240,
    240,
    240
  ); /* Arka plan rengini CSS üzerinden de ayarladık */
}
